body {
  min-height: 100vh;
  max-width: 1100px;
}

h1 {
  color: rgb(255, 204, 51);
font-size: 50px;
font-weight: bold;
text-shadow: 3px 2px black;
}

 h2 {
  display:flex;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  margin: 20px;
}

p {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  margin: 10px 0px 10px 0px;

}

main {
  display: flex;
  flex-direction: column;
  background-color:lightblue;
}

main section div img {
  position: relative;
  width: 200px;
  height: 200px;
  border: thin solid black;
 }

#pick-product {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10px 10px 150px;
  max-height: 200px;
  max-width: 70%;
}

button {
  border: thin solid black;
  margin: 10px 10px 20px 465px;
  background-color: coral;
  font-size: large;
  font-weight: bold;
  height: 45px;
  width: 150px;
  }

footer {
  width: 100%;
  border: thin solid black;
}